name: GIT

on: 
  workflow_dispatch:
    inputs:
      logLevel:
        description: 'Log level'     
        required: true
        default: 'warning'
      tags:
        description: 'Test scenario tags'  
jobs:
 build:
   runs-on: ubuntu-latest
   steps:
     - name: Run a one-line script
       run: echo Hello, Leela, How, are, you!!
